#contact_modal {
  display: none;
}

.photograph-header {
  display: flex;
  justify-content: space-between;
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

.photograph-header div {
  display: flex;
  width: 100%;
  justify-content: center;
  align-self: center;
}

.photograph-header div h1 {
  font-size: 64px;
  color: #d3573c;
  margin-bottom: 0;
  margin-top: 0;
}

#info {
  display: block;
  margin-left: 50px;
}

#city_country {
  font-size: 24px;
  color: #901c1c;
  margin: 0;
}

.photograph-header img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  object-fit: cover;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

/*  Modal du formulaire */

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

/*            Formulaire                             */

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 2em;
}

form textarea {
  width: 100%;
  height: 170px;
  border: none;
  border-radius: 5px;
  resize: none;
  font-size: 2em;
}

/*            Filtre                          */

.filter {
  width: 100%;
  display: flex;
  margin-bottom: 50px;
}

#order_by {
  width: 170px;
}

#date {
  display: none;
}

#titre {
  display: none;
}

#order_by li {
  font-size: 18px;
  font-weight: 700;
  color: white;
  padding: 11px;
  width: 160px;
  height: 40px;
  border: none;
  background-color: #911c1c;
  border-radius: 0;
  cursor: pointer;
  border-bottom: 1px solid #fff;
}

/*      Affichage des photos            */

.photographer_contenu {
  margin: 0 100px;
}

.filter label {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 700;
}

.photo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  row-gap: 50px;
  margin-top: 50px;
}

.photo_card {
  height: 331px;
  width: 380px;
}

.photo_card img {
  height: 90%;
  width: 100%;
  border-radius: 5px;
}

#legende {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  height: 31px;
  font-size: 24px;
  color: #901c1c;
}
